In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
phone=pd.read_csv("C:\\Users\\adaks\\AppData\\Local\\Programs\\Python\\Python312\\Scripts\\Phone Price Prediction\\Phone_Price_dataset.csv")

In [3]:
phone.head()

,Unnamed: 0,Brand me,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,0,"LG V30+ (Black, 128 )",4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,1,I Kall K11,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,2,Nokia 105 ss,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,3,"Samsung Galaxy A50 (White, 64 )",4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4,"POCO F1 (Steel Blue, 128 )",4.5,6.0,128.0,6.18,35,15.0,3800,18999

In [4]:
phone.shape

(836, 10)

In [5]:
phone.describe()

,Unnamed: 0,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
count,836.000000,805.000000,829.000000,832.000000,834.000000,836.000000,567.000000,836.000000,836.00000
mean,417.500000,4.103106,6.066345,64.373077,5.597282,47.983254,9.784832,3274.688995,18220.34689
std,241.476707,0.365356,2.530336,53.447825,3.898664,11.170093,6.503838,927.518852,52805.55022
min,0.000000,2.800000,0.000000,0.000000,2.000000,5.000000,0.000000,1020.000000,479.00000
25%,208.750000,3.800000,6.000000,32.000000,4.500000,48.000000,5.000000,3000.000000,984.75000
50%,417.500000,4.100000,6.000000,40.000000,4.770000,48.000000,8.000000,3000.000000,1697.00000
75%,626.250000,4.400000,6.000000,64.000000,6.300000,48.000000,13.000000,3800.000000,18999.00000
max,835.000000,4.800000,34.000000,256.000000,44.000000,64.000000,61.000000,6000.000000,573000.00000

In [6]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     836 non-null    int64
 1   Brand me       836 non-null    object
 2   Ratings        805 non-null    float64
 3   RAM            829 non-null    float64
 4   ROM            832 non-null    float64
 5   Mobile_Size    834 non-null    float64
 6   Primary_Cam    836 non-null    int64
 7   Selfi_Cam      567 non-null    float64
 8   Battery_Power  836 non-null    int64
 9   Price          836 non-null    int64
dtypes: float64(5), int64(4), object(1)
memory usage: 65.4+ KB

In [9]:
# ratings,rom,ram,mobile size,selfi cam has null
#ram has an outlier 32 gb, >12gb is not possible
#rom is to be dropped
#phone size has an outlier(min=3inches,max=7inches)
#phone price dtype change from int to float
#selfi cam from float to int

In [10]:
backup=phone.copy()

Ratings

In [11]:
phone = phone.dropna(subset=['Ratings'])

In [12]:
phone.shape

(805, 10)

RAM

In [13]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 805 entries, 0 to 835
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     805 non-null    int64
 1   Brand me       805 non-null    object
 2   Ratings        805 non-null    float64
 3   RAM            798 non-null    float64
 4   ROM            801 non-null    float64
 5   Mobile_Size    803 non-null    float64
 6   Primary_Cam    805 non-null    int64
 7   Selfi_Cam      554 non-null    float64
 8   Battery_Power  805 non-null    int64
 9   Price          805 non-null    int64
dtypes: float64(5), int64(4), object(1)
memory usage: 69.2+ KB

In [14]:
phone = phone.dropna(subset=['RAM'])

In [15]:
phone.shape

(798, 10)

In [16]:
phone.describe()

,Unnamed: 0,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
count,798.000000,798.000000,798.000000,794.000000,796.000000,798.000000,551.000000,798.000000,798.000000
mean,419.192982,4.101629,6.073935,65.385894,5.643433,47.997494,9.607985,3290.250627,18967.000000
std,240.931589,0.366557,2.555442,54.212876,3.982219,10.552848,6.330780,929.739578,53924.825844
min,0.000000,2.800000,0.000000,0.000000,2.000000,5.000000,0.000000,1020.000000,479.000000
25%,211.250000,3.800000,6.000000,32.000000,4.500000,48.000000,5.000000,3000.000000,991.250000
50%,417.500000,4.100000,6.000000,64.000000,4.770000,48.000000,8.000000,3000.000000,1799.000000
75%,629.750000,4.400000,6.000000,64.000000,6.300000,48.000000,13.000000,3800.000000,18999.000000
max,835.000000,4.800000,34.000000,256.000000,44.000000,64.000000,61.000000,6000.000000,573000.000000

In [17]:
#Considering the upper limit of RAM to be 12GB

In [21]:
phone=phone[phone['RAM']<12.000000]

In [22]:
phone.shape

(0, 10)

In [23]:
backup.shape

(836, 10)

In [24]:
Phone=backup.copy()

Ratings

In [25]:
Phone = Phone.dropna(subset=['Ratings'])

In [26]:
Phone.shape

(805, 10)

RAM

In [27]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 805 entries, 0 to 835
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     805 non-null    int64
 1   Brand me       805 non-null    object
 2   Ratings        805 non-null    float64
 3   RAM            798 non-null    float64
 4   ROM            801 non-null    float64
 5   Mobile_Size    803 non-null    float64
 6   Primary_Cam    805 non-null    int64
 7   Selfi_Cam      554 non-null    float64
 8   Battery_Power  805 non-null    int64
 9   Price          805 non-null    int64
dtypes: float64(5), int64(4), object(1)
memory usage: 69.2+ KB

In [28]:
Phone = Phone.dropna(subset=['RAM'])

In [29]:
Phone.shape

(798, 10)

In [30]:
Phone.describe()

,Unnamed: 0,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
count,798.000000,798.000000,798.000000,794.000000,796.000000,798.000000,551.000000,798.000000,798.000000
mean,419.192982,4.101629,6.073935,65.385894,5.643433,47.997494,9.607985,3290.250627,18967.000000
std,240.931589,0.366557,2.555442,54.212876,3.982219,10.552848,6.330780,929.739578,53924.825844
min,0.000000,2.800000,0.000000,0.000000,2.000000,5.000000,0.000000,1020.000000,479.000000
25%,211.250000,3.800000,6.000000,32.000000,4.500000,48.000000,5.000000,3000.000000,991.250000
50%,417.500000,4.100000,6.000000,64.000000,4.770000,48.000000,8.000000,3000.000000,1799.000000
75%,629.750000,4.400000,6.000000,64.000000,6.300000,48.000000,13.000000,3800.000000,18999.000000
max,835.000000,4.800000,34.000000,256.000000,44.000000,64.000000,61.000000,6000.000000,573000.000000

In [31]:
#Considering the upper limit of RAM to be 12GB

In [32]:
Phone=Phone[Phone['RAM']<12.000000]

In [33]:
Phone.shape

(764, 10)

In [34]:
Phone=Phone.drop('ROM', axis=1)

In [35]:
Phone.shape

(764, 9)

In [36]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 764 entries, 0 to 835
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     764 non-null    int64
 1   Brand me       764 non-null    object
 2   Ratings        764 non-null    float64
 3   RAM            764 non-null    float64
 4   Mobile_Size    762 non-null    float64
 5   Primary_Cam    764 non-null    int64
 6   Selfi_Cam      530 non-null    float64
 7   Battery_Power  764 non-null    int64
 8   Price          764 non-null    int64
dtypes: float64(4), int64(4), object(1)
memory usage: 59.7+ KB

In [37]:
Phone=Phone.dropna(subset=['Mobile_Size'])

In [38]:
Phone.shape

(762, 9)

In [39]:
Phone=Phone[Phone['Mobile_Size']<7.000000]
Phone=Phone[Phone['Mobile_Size']>3.000000]

In [40]:
Phone.shape

(747, 9)

In [41]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 747 entries, 0 to 835
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     747 non-null    int64
 1   Brand me       747 non-null    object
 2   Ratings        747 non-null    float64
 3   RAM            747 non-null    float64
 4   Mobile_Size    747 non-null    float64
 5   Primary_Cam    747 non-null    int64
 6   Selfi_Cam      521 non-null    float64
 7   Battery_Power  747 non-null    int64
 8   Price          747 non-null    int64
dtypes: float64(4), int64(4), object(1)
memory usage: 58.4+ KB

In [42]:
Phone = Phone.dropna(subset=['Selfi_Cam'])

In [43]:
Phone.shape

(521, 9)

In [44]:
Phone['Selfi_Cam']=Phone['Selfi_Cam'].astype(int)

In [45]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 521 entries, 0 to 835
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     521 non-null    int64
 1   Brand me       521 non-null    object
 2   Ratings        521 non-null    float64
 3   RAM            521 non-null    float64
 4   Mobile_Size    521 non-null    float64
 5   Primary_Cam    521 non-null    int64
 6   Selfi_Cam      521 non-null    int32
 7   Battery_Power  521 non-null    int64
 8   Price          521 non-null    int64
dtypes: float64(3), int32(1), int64(4), object(1)
memory usage: 38.7+ KB

In [46]:
Phone.head()

,Unnamed: 0,Brand me,Ratings,RAM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,0,"LG V30+ (Black, 128 )",4.3,4.0,6.00,48,13,4000,24999
1,1,I Kall K11,3.4,6.0,4.50,48,12,4000,15999
2,2,Nokia 105 ss,4.3,4.0,4.50,64,16,4000,15000
3,3,"Samsung Galaxy A50 (White, 64 )",4.4,6.0,6.40,48,15,3800,18999
4,4,"POCO F1 (Steel Blue, 128 )",4.5,6.0,6.18,35,15,3800,18999

In [47]:
Phone['Price']=Phone['Price'].astype(float)

In [48]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 521 entries, 0 to 835
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     521 non-null    int64
 1   Brand me       521 non-null    object
 2   Ratings        521 non-null    float64
 3   RAM            521 non-null    float64
 4   Mobile_Size    521 non-null    float64
 5   Primary_Cam    521 non-null    int64
 6   Selfi_Cam      521 non-null    int32
 7   Battery_Power  521 non-null    int64
 8   Price          521 non-null    float64
dtypes: float64(4), int32(1), int64(3), object(1)
memory usage: 38.7+ KB

In [49]:
Phone['Brand me'].unique()

array(['LG V30+ (Black, 128 )', 'I Kall K11', 'Nokia 105 ss',
       'Samsung Galaxy A50 (White, 64 )', 'POCO F1 (Steel Blue, 128 )',
       'Apple iPhone 11 Pro (Space Grey, 512 )',
       'Samsung Galaxy A70s (Prism Crush Red, 128 )',
       'Samsung Galaxy S10 Lite (Prism Blue, 512 )',
       'OPPO A9 (Marble Green, 128 )', 'POCO F1 (Graphite Black, 256 )',
       'Megus Ultra', 'Jmax M40 Coo of Two', 'Easyfone Star',
       'OnePlus 7 Pro (Nebula Blue, 256 )',
       'OnePlus 7 Pro (Mirror Grey, 128 )',
       'Samsung Galaxy S20+ (Cloud Blue, 128 )',
       'Samsung Galaxy S10 Lite (Prism Black, 512 )',
       'OPPO A5s (Red, 32 )', 'Micax X742', 'InFocus Selfie C1',
       'LG G8X (Black, 128 )', 'Gee A1 (Grey, 64 )',
       'Tecno Camon 15 Pro (Opal White, 128 )', 'Micax X749',
       'Karbonn KX21', 'Inovu A9', 'LG Q Stylus (Black, 32 )',
       'OPPO R17 Pro (Emerald Green, 128 )', 'Meizu C9 Pro (Black, 32 )',
       'Jivi R21Plus', 'Lava 34 ', 'Apple iPhone 11 Pro Max (Gold, 64 )',
       'Samsung Galaxy S8 Plus (Midnight Black, 64 )',
       'Black Shark 2 (Shadow Black, 128 )', 'InFocus POWER 2',
       'Blacear B5 Grip', 'Alcatel 5V (Spectrum Blue, 32 )',
       'Redmi Note 5 Pro (Gold, 64 )', 'Redmi K20 (Flame Red, 128 )',
       'Apple iPhone 11 (Yellow, 64 )', 'Gee F103 Pro (Grey, 16 )',
       'Gee F103 Pro (Gold, 16 )', 'JIVI 12M',
       'Nexus 6P Special Edit (Gold, 64 )',
       'OPPO F15 (Lightening Black, 128 )',
       'Apple iPhone 11 Pro (Gold, 64 )', 'LG Q6 (Black, 32 )',
       'OPPO K1 (Piano Black, 64 )',
       'Redmi Note 7 Pro (Neptune Blue, 128 )',
       'OPPO Reno2 (Ocean Blue, 256 )', 'Jivi N9030',
       'Gee S11 Lite (Gold, 32 )', 'Jivi N300 New', 'Ssky S9007 Rainbow',
       'Q-Tel Q8', 'Redmi K20 Pro (Pearl White, 256 )',
       'OPPO A3s (Purple, 32 )', 'OPPO A83 (Chaagne, 16 )',
       'OPPO A5s (Black, 32 )', 'Vivo Y66 (Crown Gold, 32 )',
       'Vivo V7 (Gold, 32 )', 'Vivo X21 (Black, 128 )',
       'Redmi K20 (Pearl White, 64 )',
       'Samsung Galaxy S20+ (Cosmic Black, 128 )',
       'Redmi K20 (Carbon Black, 128 )', 'Mi A3 (More Than White, 128 )',
       'Nokia 216/216 DS', 'JIVI N3720 Power', 'BlackZone Neo-B',
       'Lava One', 'Micax Flash X910', 'I Kall K27 New',
       'OPPO A5s (Blue, 32 )', 'I Kall K 15', 'Vivo Y81 (Gold, 32 )',
       'MI3 (Metallic Grey, 16 )', 'Grabo G100',
       'Apple iPhone 11 Pro Max (Silver, 64 )',
       'Redmi Note 8 (Cosmic Purple, 128 )', 'MTR MT 310',
       'I Kall K18 New Coo of Two Mobiles',
       'Karbonn Titanium S4 (Black, 4 )', 'Redmi Note 6 Pro (Black, 64 )',
       'Samsung Galaxy A21s (White, 64 )', 'Nokia 7.2 (Charcoal, 64 )',
       'Lava Z61 (Gold, 16 )', 'MTR Ba', 'I Kall K73', 'Karbonn K338N',
       'I Kall K3312', 'MTR Shakti', 'Honor 8X (Black, 128 )',
       'Vivo S1 (Diamond Black, 64 )', 'I Kall K3310 Coo Of Two Mobile',
       'Tork T13 Ba', 'Honor 9N (Midnight Black, 64 )',
       'Samsung Galaxy A80 (Phantom Black, 128 )',
       'Alcatel 5V (Spectrum Black, 32 )', 'Mi A2 (Blue/Lake Blue, 64 )',
       'Mi A3 (Not just Blue, 128 )',
       'Samsung Galaxy S8 Plus (Maple Gold, 64 )',
       'Realme C2 (Diamond Blue, 16 )', 'Honor 8X (Blue, 64 )',
       'Lava A1 ', 'Itel It 2163', 'Easyfone Elite',
       'POCO F1 (Rosso Red, 64 )', 'I Kall K55 Coo Of Two Mobile',
       'InFocus Hero Selfie C1', 'Vivo V17Pro (Glacier Ice White, 128 )',
       'I Kall K25 New', 'Itel It2171', 'Itel It 5022',
       'Honor 9N (Midnight Black, 128 )', 'GreenBerry 312',
       'Vivo Y81 (Black, 32 )', 'Samsung Galaxy S10e (Prism Black, 128 )',
       'Itel It 2190', 'MTR Sima', 'Redmi 8A Dual (Midnight Grey, 64 )',
       'Vivo Y17 (Mystic Purple, 128 )', 'Mi A3 (Kind of Grey, 128 )',
       'Honor 9N (Sapphire Blue, 128 )', 'Apple iPhone XS (Silver, 512 )',
       'OPPO F11 Pro (Aurora Green, 64 )', 'I kall k6300 NEW',
       'OPPO F9 Pro (Sunrise Red, 64 )', 'Karbonn K5 Plus',
       'I Kall K99 Coo Of Two Mobile', 'Vivo V7+ (Gold, 64 )',
       'Peace FM1', 'Itel It 2161', 'I Kall K88 Coo Of Two Mobile',
       'Apple iPhone 8 Plus (Gold, 64 )',
       'Samsung Galaxy Note 10 (Aura Black, 256 )', 'Itel Muzik 3000',
       'Lava A7', 'Forme Duos N2', 'Kechaoda K35', 'Mafe Leo',
       'Ssky S3500', 'I Kall K20 New Coo of Two Mobiles', 'Jivi Ba 6',
       'I Kall K28', 'Honor Play (Midnight Black, 64 )', 'I Kall K20 New',
       'Itel It 5605n', 'I Kall K200 (Red, 16 )',
       'Infinix Hot 9 (Ocean Wave, 64 )',
       'Realme rzo 10 (That Green, 128 )',
       'Realme rzo 10 (That White, 128 )',
       'Realme rzo 10 (That Blue, 128 )',
       'Redmi Note 8 Pro (Halo White, 128 )',
       'Realme 6 (Comet White, 128 )', 'POCO X2 (Matrix Purple, 64 )',
       'Realme 6 Pro (Lightning Blue, 64 )',
       'OPPO A9 2020 (Marine Green, 128 )',
       'Vivo U10 (Thunder Black, 32 )',
       'Motorola One Fus+ (Twilight Blue, 128 )',
       'Vivo U10 (Electric Blue, 32 )', 'OPPO A12 (Blue, 32 )',
       'OPPO A12 (Black, 32 )', 'OPPO A31 (Fantasy White, 64 )',
       'OPPO A9 2020 (Space Purple, 128 )', 'Vivo Y15 (Aqua Blue, 64 )',
       'Samsung Galaxy M01 (Black, 32 )', 'Vivo Y12 (Aqua Blue, 64 )',
       'Samsung Galaxy M01 (Blue, 32 )', 'Karbonn K451 Power',
       'Micax X512', 'Kechaoda K10', 'Redmi K20 Pro (Carbon Black, 128 )',
       'OnePlus 7T (Glacier Blue, 256 )',
       'OnePlus 7T (Frosted Silver, 128 )',
       'Apple iPhone 7 Plus (Gold, 32 )',
       'Realme X2 Pro (Lur White, 128 )',
       'Realme X2 Pro (Neptune Blue, 128 )',
       'Honor 9X (Sapphire Blue, 128 )', 'Vivo Y91i (Black, 32 )',
       'Samsung Galaxy M31 (Space Black, 128 )',
       'iQOO 3 (Tordo Black, 128 )', 'Samsung Galaxy A20s (Blue, 64 )',
       'Vivo V17 (Glacier ice white, 128 )', 'Apple iPhone 11 (Red, 64 )',
       'Vivo S1 (Diamond Black, 128 )',
       'Apple iPhone 8 (Space Grey, 64 )', 'Kechaoda A27',
       'Samsung Galaxy Note10 Lite (Aura Black, 128 )', 'Micax X421',
       'iQOO 3 (Quantum Silver, 128 )', 'iQOO 3 (Quantum Silver, 256 )',
       'Redmi Note 8 Pro (Electric Blue, 64 )',
       'Google Pixel 3a (Clearly White, 64 )',
       'Samsung Galaxy A21s (Black, 64 )', 'Good One Magic',
       'Karbonn K140 Pop', 'Mi Mix 2 (Black, 128 )',
       'Vivo V19 (Piano Black, 256 )',
       'Samsung Galaxy Note10 Lite (Aura Glow, 128 )', 'Micax X1i Power',
       'Honor 20 (Midnight Black, 128 )',
       'OPPO Reno3 Pro (Midnight Black, 128 )',
       'Samsung Galaxy A71 (Prism Crush Black, 128 )',
       'Redmi K20 Pro (Pearl White, 128 )', 'I Kall K6610',
       'OPPO Reno 10x Zoom (Ocean Green, 256 )',
       'Realme 2 Pro (Black Sea, 128 )', 'Hicell C2 Dezire',
       'Realme X2 Pro (Neptune Blue, 64 )',
       'Vivo V19 (Mystic Silver, 256 )',
       'OnePlus 7T Pro (Haze Blue, 256 )', 'Micax X750',
       'Redmi Note 6 Pro (Red, 64 )', 'Nokia 106', 'Blacear C-99 Sultan',
       'Easyfone Royale', 'Kechaoda K115',
       'OPPO A9 2020 (Vanilla Mint, 128 )', 'I Kall K33 New',
       'Kechaoda K116 Plus', 'OPPO F11 Pro (Aurora Green, 128 )',
       'Lava Gem', 'MTR Ferrari', 'Itel IT 2163',
       'Google Pixel 3a (Just Black, 64 )',
       'Samsung Galaxy M31 (Ocean Blue, 128 )', 'BlackZone M4',
       'Lava Z41 (Aer Red, 16 )', 'Redmi K20 (Carbon Black, 64 )',
       'Apple iPhone 7 Plus (Rose Gold, 32 )', 'Karbonn k24+',
       'Itel Magic 1', 'Salora Volt 2',
       'OPPO Reno3 Pro (Sky White, 128 )',
       'OPPO Reno3 Pro (Auroral Blue, 128 )',
       'Redmi Note 6 Pro (Rose Gold, 64 )', 'Micax X381',
       'Vivo S1 (Skyline Blue, 64 )', 'Vivo Y15 (Burgundy Red, 64 )',
       'Lenovo A5 (Black, 32 )', 'Apple iPhone 11 Pro (Silver, 512 )',
       'Samsung Galaxy S10 (Prism White, 512 )',
       'OnePlus 6T (Speed Orange, 256 )',
       'Micax Canvas Infinity (Black, 32 )', 'Lava A1 Josh',
       'I Kall K3312 Coo', 'Vivo V15 Pro (Ruby Red, 128 )',
       'Apple iPhone 7 Plus (Silver, 32 )', 'Lava Prime X',
       'I Kall K23 New Mobile', 'Kechaoda K2', 'Nokia 105 SS',
       'Moto One (White, 64 )', 'LG Q7+ (Black, 64 )',
       'Vivo V17Pro (Midnight Ocean Black, 128 )', 'Nokia 105',
       'Vivo Y91i (Ocean Blue, 16 )', 'Samsung Galaxy A50 (Blue, 64 )',
       'Kechaoda A32', 'Samsung Galaxy A9 (Bubblegum Pink, 128 )',
       'Vivo V9 (Pearl Black (Golden Line), 64 )',
       'Vivo NEX (Black, 128 )', 'Honor 9 Lite (Sapphire Blue, 32 )',
       'Samsung Galaxy S20+ (Cosmic Gray, 128 )',
       'Lenovo VIBE P1 (Grey, 32 )', 'Redmi Note 7S (Sapphire Blue, 32 )',
       'Vivo Y19 (Spring White, 128 )', 'OPPO A1K (Red, 32 )',
       'Realme 3 Pro (Nitro Blue, 64 )', 'Itel it2161',
       'OPPO A5s (Gold, 64 )', 'Redmi K20 (Glacier Blue, 128 )',
       'Jivi N3', 'Salora Vishaal',
       'Samsung Galaxy A51 (Prism Crush White, 128 )',
       'Apple iPhone 6s (Space Grey, 32 )', 'Nokia 2.3 (Charcoal, 32 )',
       'BlackZone ATOM', 'OnePlus 7 (Red, 256 )',
       'OPPO Reno2 (Luminous Black, 256 )',
       'Samsung Galaxy S10 Lite (Prism White, 128 )', 'Muphone M380',
       'Samsung Galaxy A50s (Prism Crush Black, 128 )',
       'OPPO F9 Pro (Twilight Blue, 64 )',
       'Redmi Note 8 Pro (Gamma Green, 128 )',
       'Blacerry Evolve (Black, 64 )', 'I Kall K28 Coo of Two Mobiles',
       'OPPO A9 (Fluorite Purple, 128 )', 'Mi 10 (Twilight Grey, 128 )',
       'Mi 10 (Coral Green, 256 )', 'I Kall K25 Coo of Two Mobiles',
       'Nokia 2.3 (Sand, 32 )', 'I Kall K24 New Coo of Two Mobiles',
       'Huawei Y9 Prime 2019 (Sapphire Blue, 128 )',
       'Samsung Galaxy A80 (Ghost White, 128 )', 'I Kall K 54',
       'Honor 20 (Sapphire Blue, 128 )',
       'Redmi K20 Pro (Carbon Black, 256 )', 'Micax X1i-2017',
       'Nokia TA-1010/105', 'POCO F1 (Armoured Edit, 256 )',
       'OnePlus 7 (Mirror Grey, 256 )', 'OnePlus 7 (Mirror Grey, 128 )',
       'Samsung Galaxy A70s (Prism Crush White, 128 )',
       'Apple iPhone 8 (Silver, 64 )', 'Karbonn KX23',
       'Apple iPhone 11 Pro Max (Space Grey, 64 )', 'Peace P4',
       'I Kall k111 new', 'Karbonn K334', 'Nokia 3310 DS',
       'Micax X1i-Pop', 'Karbonn K24 Plus Pro'], dtype=object)

Considering second word of the brand name

In [50]:
Phone['Brand me']=Phone['Brand me'].str.split(' ').str.slice(0,2).str.join(' ')

In [51]:
Phone.head()

,Unnamed: 0,Brand me,Ratings,RAM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,0,LG V30+,4.3,4.0,6.00,48,13,4000,24999.0
1,1,I Kall,3.4,6.0,4.50,48,12,4000,15999.0
2,2,Nokia 105,4.3,4.0,4.50,64,16,4000,15000.0
3,3,Samsung Galaxy,4.4,6.0,6.40,48,15,3800,18999.0
4,4,POCO F1,4.5,6.0,6.18,35,15,3800,18999.0

In [52]:
Phone['Brand me'].unique()

array(['LG V30+', 'I Kall', 'Nokia 105', 'Samsung Galaxy', 'POCO F1',
       'Apple iPhone', 'OPPO A9', 'Megus Ultra', 'Jmax M40',
       'Easyfone Star', 'OnePlus 7', 'OPPO A5s', 'Micax X742',
       'InFocus Selfie', 'LG G8X', 'Gee A1', 'Tecno Camon', 'Micax X749',
       'Karbonn KX21', 'Inovu A9', 'LG Q', 'OPPO R17', 'Meizu C9',
       'Jivi R21Plus', 'Lava 34', 'Black Shark', 'InFocus POWER',
       'Blacear B5', 'Alcatel 5V', 'Redmi Note', 'Redmi K20', 'Gee F103',
       'JIVI 12M', 'Nexus 6P', 'OPPO F15', 'LG Q6', 'OPPO K1',
       'OPPO Reno2', 'Jivi N9030', 'Gee S11', 'Jivi N300', 'Ssky S9007',
       'Q-Tel Q8', 'OPPO A3s', 'OPPO A83', 'Vivo Y66', 'Vivo V7',
       'Vivo X21', 'Mi A3', 'Nokia 216/216', 'JIVI N3720',
       'BlackZone Neo-B', 'Lava One', 'Micax Flash', 'Vivo Y81',
       'MI3 (Metallic', 'Grabo G100', 'MTR MT', 'Karbonn Titanium',
       'Nokia 7.2', 'Lava Z61', 'MTR Ba', 'Karbonn K338N', 'MTR Shakti',
       'Honor 8X', 'Vivo S1', 'Tork T13', 'Honor 9N', 'Mi A2',
       'Realme C2', 'Lava A1', 'Itel It', 'Easyfone Elite',
       'InFocus Hero', 'Vivo V17Pro', 'Itel It2171', 'GreenBerry 312',
       'MTR Sima', 'Redmi 8A', 'Vivo Y17', 'OPPO F11', 'I kall',
       'OPPO F9', 'Karbonn K5', 'Vivo V7+', 'Peace FM1', 'Itel Muzik',
       'Lava A7', 'Forme Duos', 'Kechaoda K35', 'Mafe Leo', 'Ssky S3500',
       'Jivi Ba', 'Honor Play', 'Infinix Hot', 'Realme rzo', 'Realme 6',
       'POCO X2', 'Vivo U10', 'Motorola One', 'OPPO A12', 'OPPO A31',
       'Vivo Y15', 'Vivo Y12', 'Karbonn K451', 'Micax X512',
       'Kechaoda K10', 'OnePlus 7T', 'Realme X2', 'Honor 9X', 'Vivo Y91i',
       'iQOO 3', 'Vivo V17', 'Kechaoda A27', 'Micax X421', 'Google Pixel',
       'Good One', 'Karbonn K140', 'Mi Mix', 'Vivo V19', 'Micax X1i',
       'Honor 20', 'OPPO Reno3', 'OPPO Reno', 'Realme 2', 'Hicell C2',
       'Micax X750', 'Nokia 106', 'Blacear C-99', 'Easyfone Royale',
       'Kechaoda K115', 'Kechaoda K116', 'Lava Gem', 'MTR Ferrari',
       'Itel IT', 'BlackZone M4', 'Lava Z41', 'Karbonn k24+',
       'Itel Magic', 'Salora Volt', 'Micax X381', 'Lenovo A5',
       'OnePlus 6T', 'Micax Canvas', 'Vivo V15', 'Lava Prime',
       'Kechaoda K2', 'Moto One', 'LG Q7+', 'Kechaoda A32', 'Vivo V9',
       'Vivo NEX', 'Honor 9', 'Lenovo VIBE', 'Vivo Y19', 'OPPO A1K',
       'Realme 3', 'Itel it2161', 'Jivi N3', 'Salora Vishaal',
       'Nokia 2.3', 'BlackZone ATOM', 'Muphone M380', 'Blacerry Evolve',
       'Mi 10', 'Huawei Y9', 'Micax X1i-2017', 'Nokia TA-1010/105',
       'Karbonn KX23', 'Peace P4', 'Karbonn K334', 'Nokia 3310',
       'Micax X1i-Pop', 'Karbonn K24'], dtype=object)

F-fook(1 row),
Gee -> s11 something -> 6 rows,
I Kall ,
ITEL, Itel ,
JIVI, jivi ,
MI3 -> 1 row rest all Mi,
MTR ,
Tecno(many rows),tecno(1row)

In [53]:
#dropping f-fook phone because there is no such brand name existing

In [54]:
Phone[Phone['Brand me'] == "F-fook"]

Empty DataFrame
Columns: [Unnamed: 0, Brand me, Ratings, RAM, Mobile_Size, Primary_Cam, Selfi_Cam, Battery_Power, Price]
Index: []

In [55]:
#replacing brand name Gee to Doogee

In [56]:
Phone['Brand me']=Phone['Brand me'].str.replace('Gee','Doogee')

In [57]:
Phone['Brand me']=Phone['Brand me'].str.replace('I Kall','IKall')

In [58]:
Phone['Brand me']=Phone['Brand me'].str.replace('ITEL','Itel')

In [59]:
Phone['Brand me']=Phone['Brand me'].str.replace('JIVI','Jivi')

In [60]:
Phone['Brand me']=Phone['Brand me'].str.replace('jivi','Jivi')

In [61]:
Phone['Brand me']=Phone['Brand me'].str.replace('MI3','Mi')

In [62]:
Phone['Brand me']=Phone['Brand me'].str.replace('tecno','Tecno')

In [63]:
Phone['Brand me'].unique()

array(['LG V30+', 'IKall', 'Nokia 105', 'Samsung Galaxy', 'POCO F1',
       'Apple iPhone', 'OPPO A9', 'Megus Ultra', 'Jmax M40',
       'Easyfone Star', 'OnePlus 7', 'OPPO A5s', 'Micax X742',
       'InFocus Selfie', 'LG G8X', 'Doogee A1', 'Tecno Camon',
       'Micax X749', 'Karbonn KX21', 'Inovu A9', 'LG Q', 'OPPO R17',
       'Meizu C9', 'Jivi R21Plus', 'Lava 34', 'Black Shark',
       'InFocus POWER', 'Blacear B5', 'Alcatel 5V', 'Redmi Note',
       'Redmi K20', 'Doogee F103', 'Jivi 12M', 'Nexus 6P', 'OPPO F15',
       'LG Q6', 'OPPO K1', 'OPPO Reno2', 'Jivi N9030', 'Doogee S11',
       'Jivi N300', 'Ssky S9007', 'Q-Tel Q8', 'OPPO A3s', 'OPPO A83',
       'Vivo Y66', 'Vivo V7', 'Vivo X21', 'Mi A3', 'Nokia 216/216',
       'Jivi N3720', 'BlackZone Neo-B', 'Lava One', 'Micax Flash',
       'Vivo Y81', 'Mi (Metallic', 'Grabo G100', 'MTR MT',
       'Karbonn Titanium', 'Nokia 7.2', 'Lava Z61', 'MTR Ba',
       'Karbonn K338N', 'MTR Shakti', 'Honor 8X', 'Vivo S1', 'Tork T13',
       'Honor 9N', 'Mi A2', 'Realme C2', 'Lava A1', 'Itel It',
       'Easyfone Elite', 'InFocus Hero', 'Vivo V17Pro', 'Itel It2171',
       'GreenBerry 312', 'MTR Sima', 'Redmi 8A', 'Vivo Y17', 'OPPO F11',
       'I kall', 'OPPO F9', 'Karbonn K5', 'Vivo V7+', 'Peace FM1',
       'Itel Muzik', 'Lava A7', 'Forme Duos', 'Kechaoda K35', 'Mafe Leo',
       'Ssky S3500', 'Jivi Ba', 'Honor Play', 'Infinix Hot', 'Realme rzo',
       'Realme 6', 'POCO X2', 'Vivo U10', 'Motorola One', 'OPPO A12',
       'OPPO A31', 'Vivo Y15', 'Vivo Y12', 'Karbonn K451', 'Micax X512',
       'Kechaoda K10', 'OnePlus 7T', 'Realme X2', 'Honor 9X', 'Vivo Y91i',
       'iQOO 3', 'Vivo V17', 'Kechaoda A27', 'Micax X421', 'Google Pixel',
       'Good One', 'Karbonn K140', 'Mi Mix', 'Vivo V19', 'Micax X1i',
       'Honor 20', 'OPPO Reno3', 'OPPO Reno', 'Realme 2', 'Hicell C2',
       'Micax X750', 'Nokia 106', 'Blacear C-99', 'Easyfone Royale',
       'Kechaoda K115', 'Kechaoda K116', 'Lava Gem', 'MTR Ferrari',
       'Itel IT', 'BlackZone M4', 'Lava Z41', 'Karbonn k24+',
       'Itel Magic', 'Salora Volt', 'Micax X381', 'Lenovo A5',
       'OnePlus 6T', 'Micax Canvas', 'Vivo V15', 'Lava Prime',
       'Kechaoda K2', 'Moto One', 'LG Q7+', 'Kechaoda A32', 'Vivo V9',
       'Vivo NEX', 'Honor 9', 'Lenovo VIBE', 'Vivo Y19', 'OPPO A1K',
       'Realme 3', 'Itel it2161', 'Jivi N3', 'Salora Vishaal',
       'Nokia 2.3', 'BlackZone ATOM', 'Muphone M380', 'Blacerry Evolve',
       'Mi 10', 'Huawei Y9', 'Micax X1i-2017', 'Nokia TA-1010/105',
       'Karbonn KX23', 'Peace P4', 'Karbonn K334', 'Nokia 3310',
       'Micax X1i-Pop', 'Karbonn K24'], dtype=object)

In [64]:
Phone.shape

(521, 9)

In [65]:
#keeping only brand names
Phone['Brand me']=Phone['Brand me'].str.split(' ').str.slice(0,1).str.join(' ')

In [66]:
Phone['Brand me'].unique()

array(['LG', 'IKall', 'Nokia', 'Samsung', 'POCO', 'Apple', 'OPPO',
       'Megus', 'Jmax', 'Easyfone', 'OnePlus', 'Micax', 'InFocus',
       'Doogee', 'Tecno', 'Karbonn', 'Inovu', 'Meizu', 'Jivi', 'Lava',
       'Black', 'Blacear', 'Alcatel', 'Redmi', 'Nexus', 'Ssky', 'Q-Tel',
       'Vivo', 'Mi', 'BlackZone', 'Grabo', 'MTR', 'Honor', 'Tork',
       'Realme', 'Itel', 'GreenBerry', 'I', 'Peace', 'Forme', 'Kechaoda',
       'Mafe', 'Infinix', 'Motorola', 'iQOO', 'Google', 'Good', 'Hicell',
       'Salora', 'Lenovo', 'Moto', 'Muphone', 'Blacerry', 'Huawei'],
      dtype=object)

In [67]:
Phone.head()

,Unnamed: 0,Brand me,Ratings,RAM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,0,LG,4.3,4.0,6.00,48,13,4000,24999.0
1,1,IKall,3.4,6.0,4.50,48,12,4000,15999.0
2,2,Nokia,4.3,4.0,4.50,64,16,4000,15000.0
3,3,Samsung,4.4,6.0,6.40,48,15,3800,18999.0
4,4,POCO,4.5,6.0,6.18,35,15,3800,18999.0

In [68]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 521 entries, 0 to 835
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     521 non-null    int64
 1   Brand me       521 non-null    object
 2   Ratings        521 non-null    float64
 3   RAM            521 non-null    float64
 4   Mobile_Size    521 non-null    float64
 5   Primary_Cam    521 non-null    int64
 6   Selfi_Cam      521 non-null    int32
 7   Battery_Power  521 non-null    int64
 8   Price          521 non-null    float64
dtypes: float64(4), int32(1), int64(3), object(1)
memory usage: 38.7+ KB

In [69]:
Phone.shape

(521, 9)

In [70]:
Phone_cleaned=Phone.reset_index(drop=True)

In [71]:
Phone_cleaned.shape

(521, 9)

In [73]:
Phone_cleaned=Phone_cleaned.drop('Unnamed: 0', axis=1)

In [74]:
Phone_cleaned.shape

(521, 8)

Our data is cleaned and we now save it to a new excel file

In [75]:
Phone_cleaned.to_csv('Phone_cleaned_dataset.csv')